.v-header {
  height: 97px;
  display: flex;
  width: 100%;
  padding: 24px 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
  position: fixed;
  top: 0;
  background-color: $background-main;
  z-index: 99999;

  &-nav {
    @include main-container;

    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;


    &--logo {
      margin-right: 48px;
    }

    &--links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 48px;
    }

    &--search {
      margin-left: auto;
    }

    &--cart {
      display: flex;
      height: 100%;
      margin-left: 33px;
      padding-right: 11px;

      &-wrap {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &_count {
          position: absolute;
          top: 0;
          right: -4px;
          transform: translateX(50%);
          display: flex;
          width: fit-content;
          min-width: 15px;
          height: fit-content;
          min-height: 15px;
          border-radius: 50%;
          background-color: $button-bg-color-active;
          color: $text-color-white;
          font-size: 12px;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}