*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  background-color: $background-main;
  min-height: 100vh;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
}

#app {
  padding: 97px 0 96px;
}
.v-content {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 0;

  .v-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
}

.v-link {
  color: $text-color-black;
  text-decoration: none;
  cursor: pointer;
  transition: $transition3;

  &:hover,
  &:active,
  &:focus {
    color: $text-color-gray;
  }
}

.v-loading {
  margin: 12px auto;
}
