.v-icon {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:before,
  &:after {
    content: none;
  }

  &-check-mark {
    height: 9px;
    width: 13px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQuNTMxNSAxLjgwOTM3TDUuNjMzNDEgMTEuMjM3TDEuMzQ4MTQgNy4xOTIzNyIgc3Ryb2tlPSIjRjRGNkY5IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);

  }

  &-logo {
    width: 48px;
    height: 48px;
    background-image: url("#{$path_img}/svg/header/logo.svg");
  }

  &-footer-logo {
    width: 48px;
    height: 48px;
    background-image: url("#{$path_img}/svg/footer/footer-logo.svg");
  }

  &-cart {
    width: 28px;
    height: 28px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOCAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOS43NSAxMC4zMzMzVjguNzVDOS43NSA3LjQ5MDIyIDEwLjI1MDQgNi4yODIwNCAxMS4xNDEyIDUuMzkxMjRDMTIuMDMyIDQuNTAwNDUgMTMuMjQwMiA0IDE0LjUgNEMxNS43NTk4IDQgMTYuOTY4IDQuNTAwNDUgMTcuODU4OCA1LjM5MTI0QzE4Ljc0OTYgNi4yODIwNCAxOS4yNSA3LjQ5MDIyIDE5LjI1IDguNzVWMTAuMzMzM002Ljc5MTY3IDEwLjMzMzNDNi41ODE3IDEwLjMzMzMgNi4zODAzNCAxMC40MTY3IDYuMjMxODcgMTAuNTY1MkM2LjA4MzQxIDEwLjcxMzcgNiAxMC45MTUgNiAxMS4xMjVMNSAyMS44MTI1QzUgMjMuMzA4OCA2LjI3NDU4IDI0LjU4MzMgNy43NzA4MyAyNC41ODMzSDIxLjIyOTJDMjIuNzI1NCAyNC41ODMzIDI0IDIzLjM3MDYgMjQgMjEuODc0NEwyMyAxMS4xMjVDMjMgMTAuOTE1IDIyLjkxNjYgMTAuNzEzNyAyMi43NjgxIDEwLjU2NTJDMjIuNjE5NyAxMC40MTY3IDIyLjQxODMgMTAuMzMzMyAyMi4yMDgzIDEwLjMzMzNINi43OTE2N1oiIHN0cm9rZT0iIzFGMUYxRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+);
  }

  &-geo {
    width: 10px;
    height: 14px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4wNzAyOCAxQzUuMjc0NTEgMSAzIDMuMjc0NTEgMyA2LjA3MDI1QzMgOS41Mzk4NSA3LjUzNzQgMTQuNjMzNCA3LjczMDU4IDE0Ljg0ODZDNy45MTIwNCAxNS4wNTA3IDguMjI4ODQgMTUuMDUwMyA4LjQwOTk3IDE0Ljg0ODZDOC42MDMxNSAxNC42MzM0IDEzLjE0MDYgOS41Mzk4NSAxMy4xNDA2IDYuMDcwMjVDMTMuMTQwNSAzLjI3NDUxIDEwLjg2NiAxIDguMDcwMjggMVpNOC4wNzAyOCA4LjYyMTIzQzYuNjYzNjYgOC42MjEyMyA1LjUxOTMyIDcuNDc2ODcgNS41MTkzMiA2LjA3MDI1QzUuNTE5MzIgNC42NjM2MyA2LjY2MzY4IDMuNTE5MjkgOC4wNzAyOCAzLjUxOTI5QzkuNDc2ODcgMy41MTkyOSAxMC42MjEyIDQuNjYzNjYgMTAuNjIxMiA2LjA3MDI4QzEwLjYyMTIgNy40NzY4OSA5LjQ3Njg3IDguNjIxMjMgOC4wNzAyOCA4LjYyMTIzWiIgZmlsbD0iIzU1NTU1NSIvPjwvc3ZnPg==);
  }
}