//background
$background-main: #F6F3F3;
//text
$text-color-black: rgba(52, 48, 48, 1); //primary
$text-color-white: rgba(244, 246, 249, 1); //secondary
$text-color-gray: rgba(159, 159, 159, 1); //tertiary
//button
$button-bg-color-active: #403432; //primary
$button-bg-color-hover: #776763; //secondary
$button-bg-color-disable: #C1B4B1; //tertiary
$button-bg-color-hover: #776763; //secondary
$button-bg-color-checked: #5B3A32; //for
// transition
$transition3: all .3s ease-in-out;

//path
$path_img: '../img/';
